# Logging
/shac/tensorboards
/shac/checkpoints

# Not suitable for the public
/todo.md
/shac/original_train.py

# Misc
/__pycache__
/envs/__pycache__
/envs/register_ahac_anymal_original.py
/shac/__pycache__
/utils/__pycache__
